{# app/Resources/TwigBundle/views/Exception/errors.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <p>
    	Oops. Une erreur est survenu <br />
        Retournez sur la <a href="{{ path('Presentation') }}">page de présentation </a>
    </p>
{% endblock %}
