{% extends 'base.html.twig' %}

{% block body %}

	 <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{{path('Experience')}}">
              <h2 class="post-title">
               Expérience
              </h2>
              <h3 class="post-subtitle">
                 « L'expérience est le nom que chacun donne à ses erreurs. » Oscar Wilde
              </h3><hr>
            </a>
            <p class="post-meta">
            	Février 2015 à Février 2017
					Hotesse TOTAL MANOSQUE (04)<br />
						→ Gestion des stocks et des commandes<br />
						→ organiser et mettre en place les plannings du personnel<br />
						→ Mettre en place les promotions<br /><hr></p>
			<p class="post-meta">
				2009 à 2014 Calvi (2b) et Orcière (05)<br />
				Saisonnière Hôtesse de réception et de salle<br>
						→ Check-in / Check-out<br />
						→ Accueil clients<br />
						→ Tenir le planning des réservations<br />
					</p>
          </div>
          <hr>

{% endblock %}