{% extends 'base.html.twig' %}

{% block body %}

 <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{{path('Formation')}}">
              <h2 class="post-title">
                Formations
              </h2>
              <h3 class="post-subtitle">
                « La chose la plus difficile est de n’attribuer aucune importance aux choses qui n’ont aucune importance. »
				Charles de Gaulle
              </h3><hr>
            </a>
            <p class="post-meta">
            	2017/2018 : Open ClassRooms : Developpeur Web Junior<br />
            		cours suivi : <br />
            			-> Comprendre le web <br />
            			-> Reprenez le contrôle à l'aide de Linux ! <br />
            			-> Les ChMod <br /><hr></p>
             <p class="post-meta">
                        -> Apprenez à créer votre site web avec HTML5 et CSS3 <br />
            			-> Utilisez les effets avancés de CSS sur votre site <br />
            			-> Simplifiez-vous la vie avec LESS <br />
            			-> Rédiger correctement un Cahier des Charges<br />
            			-> Découper et intégrer une maquette <br />
            			-> Prenez en main Bootstrap <br /><hr></p>
             <p class="post-meta">
                        -> Découvrez les solutions CMS <br />
            			-> Créez votre premier site avec WordPress <br />
            			-> Créez votre site professionnel avec WordPress <br />
            			-> Réalisez des sites modernes et beaux grâce à WordPress <br /><hr></p>
             <p class="post-meta">
                        -> Concevez votre site web avec PHP et MySQL <br />
            			-> Gérer les dates en PHP <br />
            			-> Programmez en orienté objet en PHP <br />
            			-> Gérez votre code avec Git et GitHub <br /><hr></p>
             <p class="post-meta">
            	Septembre 2014 à Juin 2015 : CAP petite enfance (diplôme obtenu)<br />
            	<hr> 	 
            <p class="post-meta">
            	2007 à 2009 : BEPA soigneur aide animateur, activité hippique (diplôme obtenu)<br />
            	<hr> 	  
          </div>

{% endblock %}