{% extends 'base.html.twig' %}

{% block body %}


   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
                Présentation
              </h2>
              <p class="post-meta">
                Sparesotto Anaïs, j'ai 27 ans et je suis titulaire du permis B.<br />
                Pacsé et mère d'une petite fille depuis février 2018.<br />
                Je ne suis pas tombé dans la marmitte du web toute petite, j'ai d'abord était une passioné d'équitation, une amoureuse du travail avec les enfants avant de comprendre que le developpement web m'attirais. J'ai commencer par des sites sous wordpress, grâce a sa simplicité d'utilisation j'ai pu comprendre le fonctionnement d'une partie admin, l'ajout de plungins, la mise en ligne(OVH). <br />
                J'ai voulu en apprendre d'avantage et surtout avoir la main sur le code. J'avais envie de comprendre le pourquoi du comment. Maintenant grâce a ma formation avec open classrooms je suis capable de crée un site avec Symfony, ce Cv Web est ma première réalisation. J'espère avoir des avis, des conseils pour améliorer ce premier projet.<br />
                Maintenant que ma formation touche a sa fin, je souhaiterais intégrer une équipe qui me permettrait de consolider mes bases, me perfectionner avec le framework symfony.<br />
                Mon but a long therme est de pouvoir devenir autonome dans mon travail, être un élément essentiel de l'entreprise, et pouvoir un jour a mon tour transmettre ce que l'on m'aura appris. 
                <hr></p>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{{path('Competences')}}">
              <h2 class="post-title">
                Compétences
              </h2>
              <h3 class="post-subtitle">
                Les compétences ne remplaceront jamais la volonté de ce dépasser
              </h3>
            </a>
     <div class="container">
      <div class="row">
          <div class="post-preview">
            <a href="{{path('Formation')}}">
              <h2 class="post-title">
                Formation
              </h2>
              <h3 class="post-subtitle">
                « La chose la plus difficile est de n’attribuer aucune importance aux choses qui n’ont aucune importance. » Charles de Gaulle
              </h3>
            </a>
     <div class="container">
      <div class="row">
          <div class="post-preview">
            <a href="{{path('Experience')}}">
              <h2 class="post-title">
               Expérience
              </h2>
              <h3 class="post-subtitle">
                 « L'expérience est le nom que chacun donne à ses erreurs. » Oscar Wilde
              </h3><hr>
            </a>

{% endblock %}
