{% extends 'base.html.twig' %}

{% block body %}


<h2> Ajouter un commentaire et une note </h2>
	{{form_start(form)}}
		{{form_widget(form)}}
	{{form_end(form)}}

{{ render(controller('AppBundle:Evaluation:evaluation')) }}

{% endblock %}